pandas==1.3.4
numpy==1.21.4
sklearn==0.0
statsmodels==0.13.1

## processor ##
requests==2.26.0
matplotlib==3.5.0
python-dotenv==0.19.2

## slicetree ##
treelib==1.6.1

## Time ##
pytz==2021.3
## SCRIPTS ##
hurst==0.0.5

## CCXT
ccxt==1.62.93

## CLI ##
ipykernel==6.5.1
ipython==7.29.0
